.linkStyle {
  text-decoration: none;
  font-weight: bold;
}

.linkStyle:hover {
  text-decoration: underline;
}

.contactCard {
  animation: contactFadeIn 3s ease-in-out forwards;
}

@keyframes contactFadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
