.projectCard {
  width: 30%;
  /* width: fit-content; */
}

.expCard {
  width: 50%;
}

.mainContainer {
  background-color: #add8e6;
}

/* different intro sizes based on device viewport */

.introHi {
  font-size: 9rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 1px black;
}

@media (max-width: 1200px) {
  .introHi {
    font-size: 8rem;
  }
}

@media (max-width: 992px) {
  .introHi {
    font-size: 6em;
  }
}

@media (max-width: 768px) {
  .introHi {
    font-size: 4rem;
  }
}

@media (max-width: 576px) {
  .introHi {
    font-size: 3rem;
  }
}

.stackCard {
  width: 6rem;
  transition: transform 0.25s;
}

.stackCard:hover {
  transform: scale(1.15);
}

.about {
  /* text-align: center; */
  font-size: 20px;
  display: flex;
}

.bgImage {
  object-fit: cover;
  object-position: center;
  position: sticky;
  animation: imageFadeIn 5s forwards;
}

@keyframes imageFadeIn {
  from {
    top: 0;
    opacity: 0.05;
  }
  to {
    top: 200;
    opacity: 1;
  }
}
