/* Tech Stack card hover transitions */

.stackCard {
  width: 7rem;
  transition: transform 0.5s;
}

.stackCard:hover {
  transform: scale(1.15);
}

.bgCardDark {
  background-color: #2d7a96;
}

.bgCardDark:hover {
  background-color: rgb(10, 215, 215);
}
